<h1>Triangle</h1>
<form action="/triangle">
  <div class="form-group">

    <label for="side_a">Side A:</label>
    <input id="side_a" name="side_a" class="form-control" type="text">

    <label for="side_b">Side B:</label>
    <input id="side_b" name="side_b" class="form-control" type="text">

    <label for="side_c">Enter a sentence:</label>
    <input id="side_c" name="side_c" class="form-control" type="text">

  </div>
  <button type="submit" class="btn">Submit</button>
</form>
